.contentHeading{
  
    height: 30vh;
 
    // // color: black;
    margin-left: 15rem;
    margin-right: 1rem;

    .container{
        display: flex;
        justify-content: space-between;
       margin-right: 2rem;
        margin-top: 1rem;
        margin-left: 1rem;
        h2{
            font-size: 20px;
            span{
                color: pink;
            }
            
        }
      
    }

  

    .contentWrapper{
    //    display: grid;
    //    grid-template-columns: repeat(3, 1fr);
      height: 90%;
      padding-left: 1rem;
      padding-right: 1rem;
     
       margin-top: 1rem;
       gap:2;
       display: flex;
       justify-content: space-between;
       align-items: center;
      
        
    }
    .wrapper{
        border-radius: 20px;
        height: 100%;
        width: 400px;
        background-color: rgb(255, 255, 255);
       padding-left: 2rem;
       padding-top: 3rem;
        justify-content: flex-start;
        display: flex;
        
        flex-direction: column;
        h3{
            color: pink;
            font-size: 20px;
            margin-top: 1rem;
        }
        p{
            color: gray;
            font-size: 20px;
        }
       
       
    }
    .wrapper:hover{
        background-color: rgb(171, 168, 168);
        cursor: pointer;
        transition: 1s ease-in-out;
       
        transform: translateY(-0.5rem);
        border: 1px solid black;
       
        p{
            color: rgb(255, 255, 255);
        }
    }

}